@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@import "tailwindcss";


body {
  overflow-x: hidden; 
  
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideInFromRight {
  0% { transform: translateX(100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
.slide-in-right { animation: slideInFromRight 0.7s ease-out forwards; }
.slide-in-left { animation: slideInFromLeft 0.7s ease-out forwards; }



@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(10px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.stagger-in {
  opacity: 0;
  animation-name: fadeInSlideUp;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.delay-200 { animation-delay: 0.2s; }
.delay-400 { animation-delay: 0.4s; }
.delay-600 { animation-delay: 0.6s; }
.delay-800 { animation-delay: 0.8s; }
.delay-1000 { animation-delay: 1.0s; }
.delay-1200 { animation-delay: 1.2s; }
.delay-1400 { animation-delay: 1.4s; }
.delay-1600 { animation-delay: 1.6s; }
.delay-1800 { animation-delay: 1.8s; }