.layout {
  display: flex;
  height: 100vh; 
  overflow: hidden; 
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
}

.main {
  flex-grow: 1; 
  padding: 2rem;
  background-color: #f5f5f5;
}